.home{
 background-color: var(--background);
 min-height: 200vh;
 max-height: min-content;
 /* font-family: myfont */
    /* background-image: url(./bgg.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
  }

.subHomeHead{
  font-family: headingfont;
  font-size: 32px;
  font-weight: 500;
}


  input{
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .blogs_container_div{
    margin: 32px 32px;
  padding: 16px 32px;
  }
  
  .blogs_container{
    margin: 24px 0;
    /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 16px;
  /* background-color: var(--beige); */
  border-radius: 24px;
  } 
  
  
  .blog_div{
    min-height: 400px;
    width: 300px;
    background-color: var(--beige);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px; 
    border-radius: 24px;
    transition: transform 200ms ease-in-out;
  }
  /* .blog_div::-webkit-scrollbar{display: none;} */
  .blog_div:hover{
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;  */
    transform: translateY(-1%);
  }

  .blogImgDiv{
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blogImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* border-radius: 24px; */
    /* margin: 8px; */
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  .blogBody{
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;  */
    padding: 16px;
    /* color: rgb(78, 37, 148); */
    /* color: #673ab7; */
  }

  .blogHead{
    display: flex;
    /* gap: 4px; */
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 10px;
  }
  .blogHead>*{margin: 0;}
  
  .blogTitle{
    font-size: 20px;
    font-weight: 500;
    /* color: rgb(78, 37, 148); */
    color: var(--dark-brown);
    font-family: headingfont;
    letter-spacing: 0.5px;
  }

.OpenBlogBtn, .blogAuthor{
  font-weight: 400;
  font-size: 14px;
  color: var(--light-brown);
}
.OpenBlogBtn{
  display: flex;
  justify-content: flex-end;
}

.OpenBlogBtn:hover{
  text-decoration: underline;
  cursor: pointer;
}

.blogText{
  max-height: 39px;
  min-height: 39px;
  overflow-y: hidden;
  font-weight: 400;
  /* color: rgb(78, 37, 148); */
  color: #3b3546;
  font-size: 15px;
}

  .modal_container{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.402);  
  }
  
  .modal{
    display: grid;
    /* flex-direction: column; */
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
    height:500px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    padding: 16px 16px 24px;
    gap: 16px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px; 
  }

  .modal>div{
    height: max-content;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 16px;
  }

  .modal>div>*{
    width: 100%;
  }
  .modal>div>input{
    border: none;
    border-bottom:  solid 1px var(--dark-brown);
  }

textarea{
  min-width:364px; max-width:364px;min-height:100px; max-height:114px;
}

  .submitBlogbtn{
    color: var(--white);
    background-color: var(--dark-brown);
    margin: 16px 0;
  }

  .fileInputDiv{
    position: relative;
  }

  .inputFile{
    /* color: white; */
    cursor: pointer;
    /* opacity: 0; */
  }
  .inputFileLabel{
    background-color: var(--dark-brown);
    position: absolute;
    left: 4px;
    color: var(--white);
    max-width: 94px;
    height: 22px;
    pointer-events: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  .closeModalDiv{
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .closeModalbtn{
    width: 30px !important;
    border: none;
    background-color: transparent !important;
    font-size: 20px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 4px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    /* margin-top: 4px; */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--beige);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--beige);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }