.home{
 background-color: rgb(237, 231, 246);
 min-height: 200vh;
 max-height: min-content;
    /* background-image: url(./bgg.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
  }
  
  .header{
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: white;
  }

  .homeNav{
    flex-grow: 1;
    width: 100%;
    height: 64px;
  }
  
  .blogs_container{
    margin: 64px;
    margin-left: 64px;
    margin-right: 64px;
    height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* justify-items: center;
  align-items: center; */
  
  } 
  
  
  .blog_div{
    height: 400px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px; 
    border-radius: 8px;
  }
  /* .blog_div::-webkit-scrollbar{display: none;} */

  .blogImgDiv{
    width: 300px;
    height: 250px;
  }

  .blogImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .blogBody{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px; 
    padding: 16px;
    /* color: rgb(78, 37, 148); */
    /* color: #673ab7; */
  }

  .blogHead{
    display: flex;
    /* gap: 4px; */
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 10px;
  }
  .blogHead>*{margin: 0;}
  
  .blogTitle{
    font-size: 20px;
    font-weight: 700;
    /* color: rgb(78, 37, 148); */
    color: #673ab7;
  }

.OpenBlogBtn, .blogAuthor{
  font-weight: 300;
  font-size: 14px;
}
.OpenBlogBtn{
  display: flex;
  justify-content: flex-end;
}

.OpenBlogBtn:hover{
  text-decoration: underline;
  cursor: pointer;
}

.blogText{
  max-height: 42px;
  min-height: 42px;
  overflow-y: hidden;
  font-weight: 400;
  /* color: rgb(78, 37, 148); */
  color: #3b3546;
  font-size: 15px;
}

  .modal_container{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.402);  
  }
  
  .modal{
    display: grid;
    /* flex-direction: column; */
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
    height:500px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 16px 16px 24px;
    gap: 16px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px; 
  }

  .modal>div{
    height: max-content;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 16px;
  }

  .modal>div>*{
    width: 100%;
  }
  .modal>div>input{
    border: none;
    border-bottom:  solid 1px rgb(103, 58, 183);
  }

textarea{
  min-width:364px; max-width:364px;min-height:100px; max-height:114px;
}

  .submitBlogbtn{
    color: white;
    background-color: rgb(103, 58, 183);
    margin: 16px 0;
  }

  .fileInputDiv{
    position: relative;
  }

  .inputFile{
    /* color: white; */
    cursor: pointer;
    /* opacity: 0; */
  }
  .inputFileLabel{
    background-color: rgb(103, 58, 183);
    position: absolute;
    left: 4px;
    color: white;
    max-width: 94px;
    height: 22px;
    pointer-events: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  .closeModalDiv{
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .closeModalbtn{
    width: 30px !important;
    border: none;
    background-color: transparent !important;
    font-size: 20px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 4px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    /* margin-top: 4px; */
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }