.App{
 
  background-image: url(./bgg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.blog_body{
  
  margin-left: 64px;
  margin-right: 64px;
  height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 16px;
/* grid-template-columns: 1fr 1fr 1fr; */
/* justify-items: center;
align-items: center; */

}

.header{
  height: 100px;
}



.blog_div{
  height: 400px;
  width: 400px;
  
  background-color: rgb(226, 96, 96);
  border-radius: 20px;
}

.modal_container{
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
display: flex;
justify-content: center;
align-items: center;
z-index: 15;

}

.modal{

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  height:500px;
  width: 500px;
  background-color: rgb(58, 181, 50);

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}