@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: headingfont;
    src: url(./assets/Kenilla.otf);
}

/* @font-face {
  font-family: headingfont;
  src: url(./assets/Audrey-Normal.otf);
} */

body{
  margin: 0;
}

html, body, .App{
    min-height: 100%;
    font-family: 'montserrat';
}

:root {
  --dark-brown: #212122; 
  --light-brown: #5f1462;
  --light-blue: #CCE6F2;
  --light-pink: #FBDDE2;
  --beige: #f5eaf6;
  --white: white;
  --background: #f8f7f4;
}
