@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: myfont;
    src: url(./assets/AvertaDemoPE-Regular.ttf);
}

@font-face {
  font-family: headingfont;
  src: url(./assets/Audrey-Normal.otf);
}

body{
  margin: 0;
}

html, body, .App{
    min-height: 100%;
    font-family: 'montserrat';
}

:root {
  --dark-brown: #4d1300; 
  --light-brown: #7a5137;
  --beige: #e7dbd3;
  --white: white;
}
